appdirs==1.4.4
argcomplete==1.12.3
future==0.18.2
grpcio==1.38.0
grpcio-tools==1.38.0
importlib-metadata==4.5.0
Pillow==8.2.0
protobuf==3.17.3
pyserial==3.5
python-barcode==0.13.1
python-escpos==3.0a8
pyusb==1.1.1
PyYAML==5.4.1
qrcode==6.1
viivakoodi==0.8.0
zipp==3.4.1
